@import 'variables.scss';


.landing-page {
  background-color: #ffffff;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
 
  .nav{
  
    .nav-desktop{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      .logo{
        width: 40%;
      }
      .links{

        display: flex;
        
        a{
          font-size: 1.2rem;
          color: black;
          text-decoration: none;
          margin-left: 10px;
        }
      } 
    }
  }

  .banner{
    width: 100%;
  }

}


